# SERVER
PORT=8080

# CLIENTS
WEB_CLIENT_URL=http://localhost:5173

# CORS
# Comma-separated list of allowed origins for browser CORS preflight.
# CORS_ALLOWED_ORIGINS=

# APP CONFIG
APP_ENV=local
MAIL_DRIVER=smtp
JWT_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret2
JWT_REGISTRATION_TOKEN_SECRET=secret3
MAIL_FROM_NAME="Patient Finder"
MAIL_FROM="no-reply@patient-finder.local"

# LOGGING
LOG_LEVEL=debug
LOG_FORMAT=text

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=patient_finder
DB_USERNAME=root
DB_PASSWORD=password1234
DB_SCHEMA=public

# SMTP MAILING
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=mailuser
SMTP_PASSWORD=mailpass
SMTP_AUTH=NOAUTH

# GOOSE
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_migrations

# OTEL
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_INSECURE="false"
OTEL_RESOURCE_ATTRIBUTES="service.name=<patient-finder>,service.namespace=<backend>,deployment.environment=<${APP_ENV}>"
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318

# TYPESENSE
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=typesense_api_key_secret

# NEW RELIC
NEW_RELIC_API_KEY=key
NEW_RELIC_OTLP_ENDPOINT=https://otlp.nr-data.net:4318
